.static{
    position: static;
    background-color: cadetblue;
    color: aquamarine;
    margin: 50px;
    padding: 20px;
    border: 10px solid;


}

.relative{
    position: relative;
    left: 50px;
    top: 100px;
    background-color: rgb(17, 33, 34);
    color: rgb(10, 98, 156);
    margin: 5px;
    padding: 10px;
    border: 5px solid;
    
}

.absolute{
    position: absolute;
    left: 50px;
    top: 100px;
    width: auto;
    height: auto;
    background-color: rgb(22, 40, 121);
    color: rgb(7, 12, 90);
    margin: 5px;
    padding: 10px;
    border: 5px solid;
    
}

.fixed {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgb(17, 33, 34);
    color: rgb(10, 98, 156);
    margin: 5px;
    padding: 10px;
    border: 5px solid;
    
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    padding: 5px;
    width: 50px;
    background-color: rgb(17, 33, 34);
    color: rgb(10, 98, 156);
    border: 5px solid;
      
}
